<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>

      <% if(username){ %>
        <div style="margin-left: auto; margin-right: 0; margin-top: auto; margin-bottom: auto;">
            <form method="POST" action="/logout">
              <p style="margin: auto; color: white; opacity: 50%"><b> Logged In As: <%= username.split('=')[1].split('%20').join(' ') %> </b></p>
        </div>
              <button style='background-color: lightgray; color: black; border-radius: 4px; margin-right: 0; margin-left: 8px;' type="submit">Logout</button>
            </form>
      <% } else{ %>  
        <div style="margin-left: auto; margin-right: 0; margin-top: auto; margin-bottom: auto;">
          <form method="POST" action="/login">
            <label style='color: white; opacity: 50%;'><b>Username: </b></label>
            <input
            type='text'
            name='username'
            />
            <button style='background-color: lightgray; color: black; border-radius: 4px' type="submit">Login</button>
          </form>
     <% } %>
     
      </div>
    </div>
  </nav>
</header>